/* Fonts */
$fonts: (
  ff-body: (
    'Roboto',
    sans-serif,
  ),
  fw-light: 200,
  fw-normal: 400,
  fw-black: 900,
  fs-base: 16px,
  fs-h1: 2rem,
  fs-h4: 1.124rem,
  fs-h5: 1rem,
  fs-h6: 0.875rem,
  fs-text: 1rem,
  lh-base: 1.6,
  lh-large: 2
);

/* Colors */
$colors: (
  c-accent: hsl(350,75%,57%,100%),
  c-white: hsl(213,55%,90%,100%),
  c-grey: hsl(214, 13%, 50%, 100%),
  c-black: hsl(213,55%,13%,100%),
  c-blue-01: hsl(223,53%,18%,100%),
  c-blue-02: hsl(213,54%,21%,100%),
  c-blue-03: hsl(213,54%,26%,100%),
  c-blue-01-alpha: hsl(223,53%,18%,80%),
  c-blue-outline: hsl(213,54%,45%),
  c-error: hsl(350,79%,46%,100%),
  c-success: hsl(170,74%,45%,100%),
  c-print-grey-01: hsl(204, 100%, 98%, 100%),
  c-print-grey-02: hsl(204, 100%, 97%, 100%),
  c-print-grey-03: hsl(204, 100%, 96%, 100%),
  c-print-black: hsl(204, 100%, 2%, 100%)
);

/* Gradients */
$gradients: (
  g-page: linear-gradient(111.34deg, #0B1326 0%, #11223B 50.39%, #183150 100%),
  g-panel: linear-gradient(129.45deg, #162447 0%, rgba(31, 64, 104, 0.6) 100%),
  g-sub-nav: linear-gradient(270deg, #162447 0%, rgba(27, 27, 47, 0) 100%)
);

/* Shadows */
  $s-panel: 8px 8px 16px hsl(213,55%,13%,100%);
  $s-button: 0px 4px 4px hsl(223,53%,18%,100%), 0px -2px 4px hsl(213,55%,13%,100%);
  $s-button-hover: 0px 0px 2px hsl(213,54%,21%,100%), 0px -6px 4px hsl(213,55%,13%,100%);
  $s-glow: drop-shadow(0px 0px 6px hsl(350,75%,57%,80%));

$shadows: (
  s-panel: $s-panel,
  s-button: $s-button,
  s-button-hover: $s-button-hover,
  s-glow: $s-glow
);

/* Sizes */
$sizes: (
  xxs: 0.25rem, // 4px
  xs: 0.5rem, // 8px
  s:  0.75rem, // 12px
  normal: 1rem, // 16px
  m: 1.125rem, // 18px
  l: 1.5rem, // 24px
  xl: 2rem, // 32px
  xxl: 3rem, // 48px
);

.hiddenInput {
  display: none;
}
