/* Fonts */
$fonts: (
  ff-body: (
    'Roboto',
    sans-serif,
  ),
  fw-light: 100,
  fw-normal: 400,
  fw-black: 900,
  fs-base: 16px,
  fs-h1: 2rem,
  fs-h4: 1.124rem,
  fs-h5: 1rem,
  fs-h6: 0.875rem,
  fs-text: 1rem,
  lh-base: 1.6,
  lh-large: 2
);

/* Colors */
$colors: (
  c-accent: hsl(350,75,57,1),
  c-white: hsl(213,55,90,1),
  c-grey: hsl(214, 13, 50, 1),
  c-black: hsl(213,55,13,1),
  c-blue-01: hsl(223,53,18,1),
  c-blue-02: hsl(213,54,21,1),
  c-blue-03: hsl(213,54,26,1),
  c-blue-01-alpha: hsl(223,53,18,.8),
  c-blue-outline: hsl(213,54,45),
  c-error: hsl(350,79,46,1),
  c-success: hsl(170,74,45,1),
  c-print-grey-01: hsl(204, 100, 98, 1),
  c-print-grey-02: hsl(204, 100, 97, 1),
  c-print-grey-03: hsl(204, 100, 96, 1),
  c-print-black: hsl(204, 100, 2, 1)
);

/* Gradients */
$gradients: (
  g-page: linear-gradient(111.34deg, #0B1326 0%, #11223B 50.39%, #183150 100%),
  g-panel: linear-gradient(129.45deg, #162447 0%, rgba(31, 64, 104, 0.6) 100%),
  g-sub-nav: linear-gradient(270deg, #162447 0%, rgba(27, 27, 47, 0) 100%)
);

/* Shadows */
// $shadows: (
  $s-panel: 8px 8px 16px hsl(213,55,13,1);
  $s-button: 0px 4px 4px hsl(223,53,18,1), 0px -2px 4px hsl(213,55,13,1);
  $s-button-hover: 0px 0px 2px hsl(213,54,21,1), 0px -6px 4px hsl(213,55,13,1);
  $s-glow: drop-shadow(0px 0px 6px hsl(350,75,57,0.8));
// );

// $shadows: (
//   s-panel: 8px 8px 16px hsl(213,55,13,1),
//   s-button: 0px 4px 4px hsl(223,53,18,1), 0px -2px 4px hsl(213,55,13,1),
//   s-button-hover: 0px -2px 4px hsl(223,53,18,1), 0px -2px 4px hsl(213,55,13,1),
//   s-glow: 0px 0px 10px 6px hsl(350,75,57,0.7)
// );

$shadows: (
  s-panel: $s-panel,
  s-button: $s-button,
  s-button-hover: $s-button-hover,
  s-glow: $s-glow
);

/* Sizes */
$sizes: (
  xxs: 0.25rem, // 4px
  xs: 0.5rem, // 8px
  s:  0.75rem, // 12px
  normal: 1rem, // 16px
  m: 1.125rem, // 18px
  l: 1.5rem, // 24px
  xl: 2rem, // 32px
  xxl: 3rem, // 48px
);

.hiddenInput {
  display: none;
}

// @import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@700&display=swap&subset=latin-ext');

// $fonts: (
//   ff-body: (
//     'Lato',
//     sans-serif,
//   ),
//   ff-header: (
//     'Open Sans',
//     sans-serif,
//   ),
//   fw-normal: 400,
//   fw-bold: 700,
//   fs-base: 16px,
//   lh-base: 1.6,
// );



// Media queries
// $mq: (
//   small: 568px,
//   medium: 736px,
//   large: 1024px,
// );



// $colors222: (
//   primary: hsl(200,45,36),
//   secondary:  hsl(205,31,67),

//   accent: hsl(37,96,46),

//   error: hsl(1,83,67),
//   success: hsl(137,40,59),

//   black: hsl(210,11,15),
//   grey-dark-03: hsl(210,10,23),
//   grey-dark-02: hsl(210,9,31),
//   grey-dark-01: hsl(208,7,46),
//   grey: hsl(210,11,71),
//   grey-light-01: hsl(210,14,83),
//   grey-light-02: hsl(210,14,89),
//   grey-light-03: hsl(210,16,93),
//   white: hsl(210,17,98),

// );

// $colors111: (
// error: hsl(0, 50%, 50%),
// success: hsl(115, 50%, 40%),
// green: hsl(115, 65%, 80%),
// blue-light-01: hsl(218, 85%, 92%),
// blue: hsl(218, 88%, 83%),
// blue-dark-02: hsl(217, 87%, 36%),
// blue-dark-01: hsl(217, 92%, 19%),
// black: hsl(240, 2%, 10%),
// grey-dark-03: hsl(210, 2%, 20%),
// grey-dark-02: hsl(220, 2%, 30%),
// grey-dark-01: hsl(210, 2%, 40%),
// grey: hsl(210, 2%, 60%),
// grey-light-01: hsl(210, 2%, 80%),
// grey-light-02: hsl(240, 2%, 90%),
// grey-light-03: hsl(0, 0%, 95%),
// white: hsl(0, 0%, 98%),
// )

// hsl(200,45,36)
// hsl(355,87,66)
// hsl(37,96,46)
// hsl(106,25,45)
// hsl(205,31,67)
